.rss-wrapper {
    border-right: 1px solid;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    width: 213px;
}
.rss-wrapper h2 {
	margin-top: 0px;
}
.rss-item {
    border-radius: 5px;
    box-shadow: 0 0 5px #999;
    margin-bottom: 8px;
    padding: 5px;
}
.rss-published{
	font-style: italic;
	font-size: 10px
}